*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

body{
    width: 100vh;
    min-height: 100vh;
    max-height: fit-content;

    
}

section.busqueda.input {
    border-radius: 10px;
    outline: 2px solid #4CEB70;
    border: 0;
    background-color: #e2e2e;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
  }
  
  section.busqueda.input:focus {
    outline-offset: 5px;
    background-color: #fff
  }