*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

body{
    width: 100vh;
    min-height: 100vh;
    max-height: fit-content;

    
}